<a class="navbar-brand brand-name" href="#home">
    <i class="fas fa-gamepad me-2 d-none d-sm-inline-block"></i>
    <span class="d-none d-sm-inline-block">Máximo Brunetti</span>
    <span class="d-inline-block d-sm-none" style="line-height: 1.1;">Máximo<br>Brunetti</span>
</a>
