<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#top">Máximo Brunetti</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#about-me">Sobre mí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#resume">Resumen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#projects">Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
