@page "/"
@using CV_Blazor.Components
@using CV_Blazor.Models
@using CV_Blazor.Services

@inject PortfolioService PortfolioService
@implements IDisposable

@code {
    private PortfolioViewModel? Portfolio;

    private string activeTab = "Projects";

    protected override async Task OnInitializedAsync()
    {
        const string intro = "Hola Wacho!";
        Console.WriteLine(intro);
        await LoadPortfolioAsync();
    }

    private async Task LoadPortfolioAsync()
    {
        Portfolio = await PortfolioService.GetPortfolioAsync();
    }

    private void SetTab(string tab)
    {
        activeTab = tab;
    }

    public void Dispose()
    {
    }
}

@if (Portfolio == null)
{
    <p>Loading...</p>
}
else
{
    <HomeSection Portfolio="Portfolio" />

    <ResumeSection Portfolio="Portfolio" />

    <SkillsSection />

    <ProjectSection Portfolio="Portfolio" />

    <ContactSection />    
}
