@page "/"
@using CV_Blazor.Components
@using CV_Blazor.Models
@using CV_Blazor.Services

@inject PortfolioService PortfolioService

@code {
    private PortfolioViewModel? Portfolio;
    private List<Skill> Skills;

    private string activeTab = "Projects";

    protected override async Task OnInitializedAsync()
    {
        Portfolio = await PortfolioService.GetPortfolioAsync();
    }

    private void SetTab(string tab)
    {
        activeTab = tab;
    }
}

@if (Portfolio == null)
{
    <p>Loading XD...</p>
}
else
{
    <AboutMeSection Portfolio="Portfolio" />

    <ResumeSection Portfolio="Portfolio" />

    <SkillsSection />

    <ProjectSection Portfolio="Portfolio" />

    <ContactSection />    
}
