@page "/"
@using CV_Blazor.Components
@using CV_Blazor.Models
@using CV_Blazor.Services

@inject PortfolioService PortfolioService


@code {
    private PortfolioViewModel? Portfolio;
    private List<Skill> Skills;

    private string activeTab = "Projects";

    protected override async Task OnInitializedAsync()
    {
        Portfolio = await PortfolioService.GetPortfolioAsync();
    }

    private void SetTab(string tab)
    {
        activeTab = tab;
    }
}

@if (Portfolio == null)
{
    <p>Loading...</p>
}
else
{
    <AboutMe Portfolio="Portfolio" />

    <Resume Portfolio="Portfolio" />

    <Skills />

    <!-- SECTION: PORTFOLIO -->
    <section id="projects" class="container py-5">
        <h2 class="text-center mb-4">My Portfolio</h2>

        <!-- Tabs -->
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class='nav-link @(activeTab == "Projects" ? "active" : "")'
                   href=""
                   @onclick="@(() => SetTab("Projects"))"
                   @onclick:preventDefault>

                    Projects
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link @(activeTab == "Jams" ? "active" : "")'
                   href=""
                   @onclick="@(() => SetTab("Jams"))"
                   @onclick:preventDefault>

                    Jams
                </a>
            </li>
        </ul>


        <div class="row">
        @if (activeTab == "Projects")
        {
            @foreach (var project in Portfolio.Projects)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <ProjectCard Project="project" />
                </div>
            }
        }
        else if (activeTab == "Jams")
        {
            @foreach (var jam in Portfolio.Jams)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <ProjectCard Project="jam" />
                </div>
            }
        }
        </div>

    </section>

    <hr />

    <!-- SECTION: CONTACT -->
    <section id="contact" class="container py-5">
        <h2 class="text-center mb-4">Contact</h2>
        <p class="text-center">You can contact me via:</p>
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="mx-3">
                <a href="mailto:tuximodev@gmail.com">
                    <i class="fas fa-envelope fa-2x"></i>
                </a>
            </li>
            <li class="mx-3">
                <a href="https://www.linkedin.com/in/maximobrunetti/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </li>
            <li class="mx-3">
                <a href="https://github.com/TuXimo/" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
            </li>
        </ul>
    </section>

    


    <hr />
}
