@page "/"
@using CV_Blazor.Components
@using CV_Blazor.Models
@using CV_Blazor.Services

@inject PortfolioService PortfolioService
@inject LocalizationService LocService
@implements IDisposable

@code {
    private PortfolioViewModel? Portfolio;
    private List<Skill> Skills;

    private string activeTab = "Projects";

    protected override async Task OnInitializedAsync()
    {
        LocService.OnChange += OnLocalizationChanged;
        await LoadPortfolioAsync();
    }

    private async void OnLocalizationChanged()
    {
        await LoadPortfolioAsync();
        StateHasChanged();
    }

    private async Task LoadPortfolioAsync()
    {
        Portfolio = await PortfolioService.GetPortfolioAsync();
    }

    private void SetTab(string tab)
    {
        activeTab = tab;
    }

    public void Dispose()
    {
        LocService.OnChange -= OnLocalizationChanged;
    }
}

@if (Portfolio == null)
{
    <p>Loading...</p>
}
else
{
    <AboutMeSection Portfolio="Portfolio" />

    <ResumeSection Portfolio="Portfolio" />

    <SkillsSection />

    <ProjectSection Portfolio="Portfolio" />

    <ContactSection />    
}
