@page "/resume"

@using CV_Blazor.Components
@using CV_Blazor.Models
@using CV_Blazor.Services

@inject PortfolioService PortfolioService
@implements IDisposable

@code {
    private PortfolioViewModel? Portfolio;

    protected override async Task OnInitializedAsync()
    {
        await LoadPortfolioAsync();
    }

    private async Task LoadPortfolioAsync()
    {
        Portfolio = await PortfolioService.GetPortfolioAsync();
    }

    public void Dispose()
    {
    }
}

@if (Portfolio == null)
{
    <p>Loading...</p>
}
else
{
    <ResumeSection Portfolio="Portfolio" />
}